    @model IEnumerable<CSI2132.Models.Room>

@{
    ViewData["Title"] = "Index";
}

<h2>List of Rooms</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Rooms" asp-action="Index">
    <p>
        Search Amenity: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>
<form asp-controller="Rooms" asp-action="Index">
    <p>
        Search Location: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amenities)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.View)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Extendible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Damages)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amenities)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.View)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Extendible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Damages)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
